@import url("https://fonts.googleapis.com/css2?family=Sora&display=swap");

/* reset */

* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    color: white;
    font-family: "Sora", sans-serif;
    overflow: hidden;
}

/* Header */

header {
    width: 100%;
    height: 176px;
    background-image: url(assets/img/header.jpg);
    background-size: cover;
    position: relative;
}

header ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

header h1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #e1a150;
    font-size: 64px;
    text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
        2px 2px 0 black;
}
/* NAV */

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    font-size: 30px;
}

/* Sidenav menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 3;
    top: 0;
    left: -250px;
    background-color: #1e1e1e;
    padding-top: 60px;
    transition: left 0.5s ease;
}

.sidenav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Sidenav menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #e1a150;
}

/* Active class */
.sidenav.active {
    left: 0;
}

/* Close btn */
.sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: rgb(255, 255, 255);
    margin: 6px 0;
}
/* BODY */

body {
    background-color: #1e1e1e;
}

/* MAIN */

main div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}

main h2 {
    border-bottom: #e1a150 solid 1px;
    font-size: 30px;
}

.logo {
    width: 95px;
    height: 95px;
}

.item {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    gap: 10px;
}

.item img {
    width: 131px;
    height: 131px;
}

.item2 {
    text-align: center;
}

button {
    display: flex;
    flex-direction: row;
    padding: 10px 33px;
    background: radial-gradient(50% 50% at 50% 50%, #cf7848 0%, #e6aa51 100%);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
    margin-top: 10px;
}

/* footer */

.orange-square {
    position: absolute;
    width: 100%;
    height: 76px;
    margin-top: 15px;

    background: linear-gradient(180deg, #f77f00 0%, #e6aa51 100%);
    border-radius: 20px 20px 0px 0px;
}

footer {
    display: flex;
    font-size: 15px;
}

footer ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
}

footer li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.footer {
    z-index: 1;
    width: 100%;
}

.logo2 {
    width: 39px;
    height: 41px;
}

.contact {
    color: black;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    background: radial-gradient(50% 50% at 50% 50%, #ffffff 0%, #ffffff 100%);
    box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 43px;
}

.footer span {
    font-size: 30px;
}
